
.home-card {
    width: 120px !important;
    height: 100px !important;
    border: 1px solid gray;
    background: #d5d5d5 !important;
}

.home-card:hover {
    box-shadow: 0 0 10px #c4c4c4;
    border: 2px solid gray;
}

.tile-icon {
    padding-bottom: 8px;
}

.tile-text {

}

.stretched-link {
    color: black !important;
    padding: 5px !important;
}
